
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--start body-->
<section>
    <center>
        <div class="mt-2 bg-success p-5 w-75">
            <h1>Welcome to About Page</h1>
            <p>Route Academy</p>
        </div>
    </center>
</section>
<!--end body-->