
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <!--start header-->
    <header class="mt-5">
        <center>
            <nav>
                <a href="/Home/Index" class="btn btn-primary m-2">
                    Home
                </a>
                <a href="/Home/Privacy" class="btn btn-warning m-2">
                    Privacy
                </a>
                <a href="/Home/About" class="btn btn-success m-2 ">
                    About
                </a>
                <a href="/Home/Contact" class="btn btn-secondary m-2">
                    Contact 
                </a>
            </nav>
        </center>
    </header>
    <!--end header-->

    <!--start body-->
    <section>
        <center>
            <div class="mt-2 bg-primary p-5 w-75">
                <h1>Welcome to Home Page</h1>
                <p>Route Academy</p>
            </div>
        </center>
    </section>
    <!--end body-->



    <!--start footer-->
    <footer>
        <center>
            <div class="mt-2">
                <p>
                    CopyRights &copy; Route @DateTime.Now.Year
                </p>
            </div>
        </center>
    </footer>
    <!--end footer-->
</body>
</html>
